.App {
  text-align: center;
}

input, button {
  display: block;
  margin: 8px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  margin-right: 20px;
}

.title-box {
  border: 2px solid #000; /* Change the color as needed */
  padding: 20px;
  margin: 20px 20px 20px 20px; /* Adjust the first value as needed */
  border-radius: 40px; /* Adjust as needed */
  background: linear-gradient(45deg, #ff0000, #800000); /* Metallic red effect */
}

.button {
  background-color: transparent; /* Make the button clear */
  border: 2px solid #007BFF; /* Blue border */
  color: white; /* Blue text */
  padding: 20px 40px; /* Increase these values to make the button bigger */
  font-size: 20px; /* Increase this value to make the text bigger */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
  background-color: #007BFF; /* Blue background on hover */
  color: white; /* White text on hover */
}

.input-container input {
  font-size: 20px; /* Increase this value to make the text bigger */
  padding: 10px; /* Increase this value to make the input field bigger */
  width: 100%; /* Make the input field take up the full width of its container */
}

.form-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Add space between the items */
}

.Submitbutton {
  /* ...existing styles... */
  margin-top: 20px; /* Add some space to the left of the button */
  
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Adjust the height as needed */
  margin-top: 20px;
  font-size: 30px; /* Increase this value to make the text bigger */
}

#username, #players {
  font-size: 20px; /* Increase this value to make the text bigger */
  padding: 10px; /* Increase this value to make the input field bigger */
  width: 100%; /* Make the input field take up the full width of its container */
}

